div#container

script(type="text/javascript", src="javascripts/Three.js")
script(type="text/javascript", src="javascripts/RequestAnimationFrame.js")
script(type="text/javascript", src="javascripts/node-vs-zombies.js")
script(type="text/javascript")
  var nvz = new NodeVsZombies($('#container'));
  nvz.animate();
